appdirs==1.4.3
hubot-python==0.1.1
Jinja2==2.9.6
MarkupSafe==1.0
packaging==16.8
pybot-adapter-slack==0.0.2
pyparsing==2.2.0
PyYAML==3.12
requests==2.13.0
six==1.10.0
slackclient==1.0.5
websocket-client==0.40.0
wheel==0.24.0
